body {
  font-family: sans-serif;
  width: 1024px;
  max-width: 95%;
  border: solid 2px steelblue;
  box-shadow: #000 0 6px 20px;
  margin: 0 auto;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  color: steelblue;
  font-style: italic;
  text-shadow: steelblue 1px 3px 7px;
  margin: .5rem 0 1rem 0;
}

h2 {
  font-size: 1.8rem;
  margin: 0 0 2rem 0;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: .9rem;
}

main {
  display: inline-block;
  width: 57%;
}

main a {
  font-weight: bold;
  color: maroon;
}

main a:hover,
main a:focus {
  color: steelblue;
}

aside {
  padding: 1rem 2rem 0 2rem;
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

aside h3 {
  color: maroon;
}

aside a {
  font-weight: bold;
  color: steelblue;
}

aside a:hover,
aside a:focus {
  color: maroon;
}

.hero {
  border-bottom: solid 2px steelblue;
  background: linear-gradient(to bottom, #fff, lightsteelblue);
  padding: 0 0 0 2rem;
}

.hero img {
  float: left;
  margin: 0 3rem 0 0;
  min-width: 70px;
  max-width: 140px;
  width: 100%;
}

.hero h1,
.hero h2 {
  width: 100%;
}

li {
  padding-bottom: .2rem;
}

.main_content {
  padding: 2rem;
}

footer {
  background-color: steelblue;
  padding: .2rem 0;
}

footer p {
  text-align: center;
  font-size: .8rem;
  color: #fff;
}

@media (max-width: 900px) {
  body {
    box-shadow: none;
    font-size: .9rem;
  }
}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}
